/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #eedada3b;
    color: #333;
}


/* Heading styles */
.overview-heading {
    text-align: center;
    font-size: 24px; /* Change to 20px if desired */
    margin-top: 20px;
}
/* Container styles */
.container {
    text-align: center;
    background-color: #68db1caf;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.paragraph-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #c5ae2bd5;
    border: 1px solid #e73821f5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
    text-align: left;
    font-family: fantasy;
    font-size: 20px;
}

/* Paragraph styles */
.paragraph-container p {
    margin: 40px 20px 20px 20px; /* Add margin at the top for spacing */
    line-height: 1.6;
    text-indent: 40px;
}
